.columns-container {
    box-sizing: border-box;
    margin: auto;
    max-width: 90%;
    width: 1200px;
}

.columns {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.column-content {
    &:first-child {
        width: calc(60% - 2.5rem);
    }

    &:last-child {
        width: calc(40% - 2.5rem);
    }
}