.columns {
    align-items: flex-start;
    display: flex;
    gap: 1.25rem;
    justify-content: space-between;
}

.column-content {
    &:first-child {
        width: 60%;
    }

    &:last-child {
        width: 40%;
    }
}