.accordion-item {
    background-color: #171717;
    margin-bottom: 1.25rem;
    padding: 2rem 2.5rem;

    h3 {
        padding-bottom: 0;
    }

    p {
        padding-top: 1.25rem;
    }

    :hover {
        cursor: pointer;
    }

    @media(max-width: 767px) {
        padding: 1.25rem;
    }
}

.accordion-title {
    align-items: center;
    display: flex;
    justify-content: space-between;

    @media(max-width: 980px) {
        gap: 2rem;

        *:first-child {
            width: 90%;
        }
    }
}