.nav {
    background-color: #000;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1090;
}

.nav-container {
    height: 100%;
    margin: auto;
    max-width: 90%;
    position: relative;
}

.link-container {
    border-bottom: 1px solid #fff;
    margin: auto;
    padding: 1.5rem 0;
}

.link-text {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.75rem;
    font-style: italic;
    font-weight: 600;
}

.btn-container {
    padding: 2.5rem 0;
}

.nav-footer {
    bottom: 5rem;
    position: absolute;
    text-align: center;;
}