.footer {
    background-color: #171717;
    padding: 5rem 0;
}

.footer-container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    @media(max-width: 980px) {
        flex-wrap: wrap;
        gap: 3.75rem;
        justify-content: center;
    }
}


.footer-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #c4c4c4;
}