.footer {
    background-color: #171717;
    padding: 5rem 0;
}

.footer-container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    @media(max-width: 767px) {
        flex-wrap: wrap;
        gap: 3.75rem;
        justify-content: center;
    }
}