.icons-container {
    align-items: center;
    display: flex;
    gap: .75rem;
    justify-content: flex-start;
    padding-bottom: 2rem;

    @media(max-width:767px) {
        justify-content: center;
    }
}

.icon {
    a:hover {
        filter: invert(1);
    }
}