.info-container {
    align-items: center;
    background-color: #171717;
    box-sizing: border-box;
    display: flex;
    gap: 7.5rem;
    justify-content: space-between;
    margin-bottom: 3.75rem;
    padding: 2.5rem 7.5rem 2.5rem 2.5rem;
    position: relative;
    z-index: 1010;

    div {
        width: 50%;
    }

    @media(max-width: 980px) {
        gap: 1.875rem;
        padding: 2rem;
    }

    @media(max-width: 767px) {
        flex-wrap: wrap;
        gap: .625rem;
        padding: 1.25rem;

        div {
            width: 100%;
        }
    }
}

.info-imgs {
    display: grid;
    grid-template-columns: 50% 1fr;

    img {
        border-radius: 4px;
    }
}