.faqs {
    background: url('/assets/images/black-lambo-banner.webp') no-repeat top center/100%;

    @media(max-width: 767px) {
        background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 1)), url('/assets/images/lazy-lamb-black-lambo.webp') no-repeat top center/100%;
    }
}

.title-container,
.info-container {
    padding: 6.25rem 0;
}

.title-container {
    @media(max-width: 767px) {
        padding: 12.5rem 0 3.125rem;
    }
}