.hero-section {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: -1.5% auto;
    max-width: 90%;
    width: 1200px;
}

.heading-container {
    padding-right: 1.75rem;
    width: 50%;
}

.hero-btns {
    align-items: center;
    display: flex;
    gap: 2rem;
}

.hero-img {
    img {
        border-radius: 50%;
        max-width: 100%;
        width: 100%;
    }
}