.body-text {
    color: #fff;
    display: block;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    margin-bottom: 2rem;

    a {
        color: #ffea0e;
        text-decoration: underline;
    }
}