.heading-1 {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 3.5rem;
    font-style: italic;
    font-weight: 800;
    line-height: 3.5rem;
    padding-bottom: 1rem;
    text-transform: uppercase;

    @media(max-width: 980px) {
        font-size: 2rem;
        line-height: 2.5rem;
    }
}

.heading-2 {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 2.25rem;
    font-style: italic;
    font-weight: 800;
    line-height: 2rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.heading-3 {
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2rem;
    padding-bottom: 1rem;
}

.heading-4 {
    color: #ffea0e;
    font-family: 'Work Sans', sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    font-weight: 600;
    line-height: 2rem;
    padding-bottom: 1.25rem;
    text-transform: uppercase;
}

.heading-5 {
    color: #ffea0e;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-style: italic;
    font-weight: 400;
    line-height: 2rem;
    padding-bottom: 1.25rem;
    text-transform: uppercase;
}

.heading-6 {
    color: #959595;
    font-family: 'Work Sans', sans-serif;
    font-size: .75rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2rem;
    text-transform: uppercase;
}