.columns-container {
    box-sizing: border-box;
    margin: auto;
    max-width: 90%;
    width: 1200px;
}

.columns {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.column-content {
    width: calc(33.333% - 2.5rem);
}

.columns-banner {
    margin-bottom: 1.75rem;
}