.header {
    background-color: rgba(0, 0, 0, 0.8);
    border-bottom: 1px solid #363636;
    left: 0;
    position: sticky;
    top: 0;
    z-index: 1090;
}

.header-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 90%;
    padding: .75rem 0;
    width: 1200px;
}