.nav {
    align-items: center;
    display: flex;
    gap: 2.5rem;
}

.link-container {
    box-sizing: border-box;

    &::after {
        background-color: #fff;
        content: '';
        display: block;
        height: 1px;
        transition: all 0.3s ease;
        width: 0;
    }

    &:hover::after {
        width: 100%;
    }

    a {
        color: #fff;
        font-family: 'Work Sans', sans-serif;
        font-style: italic;
        font-weight: 500;
    }
}